<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDN-bdcMFPS7gCGyyQ-mYcLeHaRTBXn81U</string>
	<key>GCM_SENDER_ID</key>
	<string>513196921710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dashboardApp</string>
	<key>PROJECT_ID</key>
	<string>populationcharts</string>
	<key>STORAGE_BUCKET</key>
	<string>populationcharts.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513196921710:ios:58fc7f64a836f48eb0a77f</string>
</dict>
</plist>